@using Tor
@model Tor.Models.ViewModels.DetailsWM

<link rel="stylesheet" href="/css/details.css" />

<section>
	<form method ="post">
		<input asp-for="@Model.Product.Id" hidden />
	<div class="row">
		<div class="col-10 col-lg-6 text-center">
			<img src = "@WC.ImagePath@Model.Product.Image" class="rounded image-change" />
		</div>
		<div class="col-12 col-lg-5">
			<div style="margin-top: 30px; text-align:left">
				<p class="brandtitle">@Model.Product.Brand</p>
				<p class="category">@Model.Product.Category.Translate @Model.Product.ApplicationType.Name</p>
				<p class="color">Dark</p>
				<p class="text">Размер</p>


				@*РАЗМЕРЫ ОБРАБОТАЙ!!!!*@
				<select class = "dropdown-cus" name="size">
						@if(Model.Product.Article.XS > 0)
						{
							<option value="XS">XS</option>
						}
						@if(Model.Product.Article.S > 0)
						{
							<option value="XS">XS</option>
						}
						@if(Model.Product.Article.M > 0)
						{
							<option value="XS">XS</option>
						}
						@if(Model.Product.Article.L > 0)
						{
							<option value="XS">XS</option>
						}
						@if(Model.Product.Article.XL > 0)
						{
							<option value="XS">XS</option>
						}
						@if(Model.Product.Article.XXL > 0)
						{
							<option value="XS">XS</option>
						}
				</select>

				<p class="price">@(Model.Product.Price).ToString("c")</p>


					@if (Model.ExistsInCart)
					{
						<button asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="button_cus">ДОБАВИТЬ В КОРЗИНУ</button> 
					}
					else
					{
						<button type = "submit" asp-route-id="@Model.Product.Id" class="button_cus">ДОБАВИТЬ В КОРЗИНУ</button> 
					}

				<p class="ship">ДОСТАВКА ПО РОССИИ В ТЕЧЕНИИ 4-12 ДНЕЙ</p>

				<hr class="hr"/>
				
				

				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-2">
							<p class="another" style="color:black; margin-left: -15px;">Описание</p>
						</div>
						<div class="col-lg-3 col-3">
							<p class="another" style="text-align: center">Возрат</p>
						</div>
						<div class="col-lg-3 col-3">
							<p class="another" style="text-align: center">Доставка</p>
						</div>
						<div class="col-lg-4 col-4">
							<p class="another">Таблица размеров</p>
						</div>
						<div class="col-lg-12 col-12">
							<p class="discription">@Html.Raw(Model.Product.Description)</p>
						</div>
						<div class="col-lg-12 col-12">
							<p class="art">Артикул: @Model.Product.ArticleId</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</section>