@model Tor.Models.ViewModels.ProductUserVM

<link rel="stylesheet" href="/css/cart.css" />

<form method = "post">
<section class="vh-50 mt-10 ml-100">
	<div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Корзина покупок</b></h4></div>
							@{
								int kolvopoz = 0;
								double sum = 0;
							}
							
							@for(int j = 0; j < Model.ProductList.Count(); j++)
							{
								kolvopoz++;
							}
							<div class="col align-self-center text-right text-muted ">@kolvopoz позиций</div>
                        </div>
                    </div>
					@for(int i = 0; i < Model.ProductList.Count(); i++)
					{
						<div class="row border-top border-bottom">
							<div class="row main align-items-center">
								<div class="col-2"><img class="img-fluid" src="@WC.ImagePath@Model.ProductList[i].Image"></div>
								<div class="col">
									<div class="row" style="font-size:14px">@Model.ProductList[i].Name</div>
                            </div>
								<div class="col">
									<a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
								</div>
                            <div class="col">@Model.ProductList[i].Price.ToString("c0")
								</div>
							@{sum += Model.ProductList[i].Price;}
							</div>
						</div>
					}
                    <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Вернутся к покупкам</span></div>
                </div>
                <div class="col-md-4 summary">
                    <div><h5><b>Итог:</b></h5></div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">Позиций @kolvopoz</div>
                        <div class="col text-right">@sum.ToString("c0")</div>
						@{
							sum = sum + 350;
						}
                    </div>
                        
						<input id="code" class="form__input" placeholder="Имя" asp-for="ApplicationUser.FullName" type="text" />
						<span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>

						<input id="code" class="form__input" placeholder="Номер телефона" asp-for="ApplicationUser.PhoneNumber" type="text" />
						<span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>

						<input id="code" class="form__input" placeholder="Email адрес" asp-for="ApplicationUser.Email" type="text" />
						<span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>

						<input id="code" class="form__input" placeholder="Город" asp-for="ApplicationUser.City" type="text" />
						<span asp-validation-for="ApplicationUser.City" class="text-danger"></span>

						<input id="code" class="form__input" placeholder="Адрес" asp-for="ApplicationUser.Address" type="text" />
						<span asp-validation-for="ApplicationUser.Address" class="text-danger"></span>

						@{
							Model.OldPrice = sum;
						}


						@if (Model.Promocode == null | Model.Promocode == "")
						{
						<p>Используйте промокод</p>
						<input id="code" class="form__inputPromo" placeholder="Промокод" asp-for="@Model.Promocode" type="text" />
						<span asp-validation-for="@Model.Promocode" class="text-danger"></span>
						}

						<input type="hidden" asp-for="@Model.OldPrice" />
						@if(Model.NewPrice != 0)
						{
							<p>Размер скидки: @Model.DiscountAmount.ToString("c")</p>						
							<input type="hidden" asp-for="@Model.NewPrice"/>
							
						}

                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">К оплате:</div>
						@if(@Model.NewPrice > 100)
						{
							<div class="col text-right">@Model.NewPrice.ToString("c0")</div>
						}
						else{
							<div class="col text-right">@Model.OldPrice.ToString("c0")</div>
						}
                        
                    </div>
						<button type="submit" class="btn btn-dark btn-block btn-lg" style="font-size:14px">Перейти к оформлению</button>
                </div>
            </div>
        </div>
</section>
</form>









































@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}